body {
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.profileImg {
    border-radius: 50%;
    width: 11vw;
    height: 11vw;
    border: 1px solid white;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 70vw; /* Set maximum width to 70% of the viewport */
    margin: 0 auto;
    justify-content: center;
    gap: 3vw; /* Space between images */

  }

  @media (max-width: 768px) {
    .profileImg {
      border-radius: 50%;
      width: 24vw;
      height: 24vw;
      border: 1px solid white;
  }
  
  .images-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 88vw; /* Set maximum width to 70% of the viewport */
      margin: 0 auto;
      justify-content: center;
      gap: 3vw; /* Space between images */
    }

    .options-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 70vw !important;
      margin: 0 auto;
      justify-content: center;
      gap: 6vw; /* Space between images */
    }
  .optionKey {
    width: 13vw !important;
    margin-bottom: -2vh !important;
    font-size: 28px !important;
    padding: 10px !important;
    border: 1.2px solid white !important;
  }


}

@media (min-width: 770px) and (max-width: 1024px) {
  
  .profileImg {
    border-radius: 50%;
    width: 16vw;
    height: 16vw;
    border: 1px solid white;
  }

  .images-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 88vw; /* Set maximum width to 70% of the viewport */
    margin: 0 auto;
    justify-content: center;
    gap: 3vw; /* Space between images */
  }
  
  .options-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 74vw !important;
    margin: 0 auto;
    justify-content: center;
    gap: 6vw; /* Space between images */
  }
  .optionKey {
    width: 13vw !important;
    margin-bottom: -2vh !important;
    font-size: 28px !important;
    padding: 14px !important;
    border: 1.2px solid white !important;
    height: 6vh !important;
  }
}


  .game-container {
    text-align: center;
  }

  .options-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 50vw; /* Set maximum width to 70% of the viewport */
    margin: 0 auto;
    justify-content: center;
    gap: 6vw; /* Space between images */
  }

  .optionKey {
    background-color: rgb(224, 46, 46);
    color: white;
    font-size: 48px;
    margin-bottom: -10vh;
    font-family: Helvetica;
    width: 6vw;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
  }
  
  .message {
    margin-top: 15px;
    font-size: 18px;
    color: #666;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .overlay-content {
    background: #c21500;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50vw;
  }
  
  .overlay-content h2 {
    margin-bottom: 10px;
    font-size: 2em;
  }
  
  .try-again {
    color: #0b8d29;
    font-weight: bold;
    position: absolute;
    left: 46%;
    font-size: 24px;
  }

  #title {
    font-size: 40px;
    color: rgb(220, 48, 48);
    margin-top: 4vh;
    
  }

  #correct {
    font-size: 240px;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .nextRound {
    border-radius: 25px;
    padding: 10px 15px;
  }

  #startContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #startGame {
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 25px;
  }